<div class="d-flex align-items-center justify-content-center">
<h1>Welcome to my first page</h1>
</div>

<% if Current.user %>
  <p>Logged in as: <%= Current.user.email %></p>
  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>